//new custom scss file. add custom styles here to compile to CSS
//top nav bar
.top-nav {
  width: 100%;
  background-color: $dark-gray;
  padding: 0;
  margin: 0;
}

.top-list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  overflow: hidden; //nested sass "sweet!"
  li {
    list-style: none;
    float: left;
    padding: 10px 15px;
    color: $white;
    font-size: 13px;
  }
}

li:first-child {
  padding-left: 0px;
}

li i {
  padding-right: 8px;
}

.top-list-right {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  float: right;
  li {
    list-style: none;
    float: left;
    padding: 10px 15px;
    color: $white;
    font-size: 13px;
  }
  a {
    color: $white;
  }
}

/* top bar */

.top-bar {
  color: $white;
  span {
    color: $primary;
    background: $dark-gray;
    padding: 5px 9px;
    margin-right: 4px;
  }
  li {
    text-transform: uppercase;
  }
  a {
    color: $white;
  }
  a:hover {
    color: $secondary;
  }
  a.current {
    color: $secondary;
    border-bottom: 3px solid $secondary;
  }
}

/* Show Case */

.showcase {
  background: url('../img/showcase.jpg') no-repeat -100px 0;
  min-height: 450px;
  color: $white;
  .showcase-box {
    padding: 20px 30px;
    margin-top: 30px;
    background: $primary;
    color: #ffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    p {
      border-bottom: 1px #ccc solid;
      padding-bottom: 10px;
    }
  }
  .showcase-box-bottom {
    background: $secondary;
    padding: 10px 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    .pricing span {
      font-size: 35px;
      font-weight: bold;
    }
    .start-link {
      padding-top: 20px;
      a {
        color: $white;
      }
    }
  }
}

/* Domain Search Bar */

.domain-search {
  background: $light-gray;
  padding: 30px 20px 20px 20px;
  border-bottom: 3px #ccc solid;
  margin-bottom: 30px;
  .domain-form {
    input, .input-group-label {
      border-color: $light-gray;
    }
  }
}

/* Package Panel Boxes */

.p-box-1,.p-box-2,.p-box-3{
  text-align: center;

  .fa{
    font-size: 80px;
  }

  .features {
    margin: 20px 0 30px 0;

    li{
      padding:10px 0 10px 0;
      border-bottom: #ccc solid 1px;
    }
  }
}

/* Individual Panel Boxes, Pricing, and FA Icons */

.p-box-1{
  .fa{
    color:$primary;
  }
    .pricing span{
      font-size:35px;
      font-weight:bold;
      color:$primary;
  }
}

.p-box-2{
  .fa{
    color:$secondary;
  }
    .pricing span{
      font-size:35px;
      font-weight:bold;
      color:$secondary;
  }
}

.p-box-3{
  .fa{
    color:$extra;
  }
    .pricing span{
      font-size:35px;
      font-weight:bold;
      color:$extra;
  }
}

/* Section A B C*/

.section-a {
  margin-top: 30px;
  padding: 50px 0;
  background-color: $light-gray;
}

.section-b {
  padding: 50px 0;
  background-color: $dark-gray;
  color:$white;
  text-align: center;
}

.section-c {
  background-color: $primary;
  color:$white;
  padding:50px 0;
  text-align: center;
    .fa {
      font-size: 90px;
    }
}

/* Footer*/

footer {
  padding: 40px 0;
}

/* form callout class to cover form area */

.callout {
  overflow: hidden;
}
